* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.content-wrapper-1,
.content-wrapper-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.nav__item {
  list-style: none;
  margin-right: 30px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.link:hover {
  color: red;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 95px;
}
.section-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
}
.section-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 2px solid;
  padding: 6px 6px 4px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.nav__list {
  display: flex;
  padding: 0;
  max-width: 196px;
}

.user-features {
  min-width: 73px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 125px;
}

.intro {
  background-color: #f1f2f4;
  padding: 50px 0;
}
.intro-wrapper {
  justify-content: center;
  align-items: center;
}
.intro__description {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 15%;
}
.intro__description, .intro-wrapper {
  display: flex;
}
.intro__span {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 128px;
  margin-bottom: 30px;
  color: inherit;
}
.intro__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 21px;
  color: #727a82;
}
.intro__text, .intro__span {
  font-weight: normal;
}
.intro__image {
  position: relative;
  z-index: 10;
}
.intro__image-1 {
  top: -50px;
  left: -50px;
}
.intro__image-2 {
  bottom: -50px;
  right: -50px;
}
.intro__image-1, .intro__image-2 {
  position: absolute;
}

.intro__image-1,
.intro__image-2 {
  z-index: -1;
}

.intro__link,
.catalog__load-button,
.news__link,
.contact__link,
.user__login-link {
  padding: 24px 27px;
  background-color: black;
  color: white;
}

.bestsellers {
  padding-top: 7px;
}
.bestsellers__header {
  margin-top: 110px;
}
.bestsellers__card {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.bestsellers__img {
  margin-bottom: 20px;
  width: 100%;
}
.bestsellers__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}
.bestsellers__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.news__content {
  background: url(../../../img/line_up.svg) no-repeat center;
  background-size: cover;
}
.news__card {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 30px 70px 35px 0;
  padding: 52px 47px 50px 40px;
  background-color: #f1f2f4;
}
.news__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 32px 0;
}
.news__description {
  color: #727a82;
  margin: 15px 0 45px 0;
}
.news__date, .news__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.news__bg {
  margin: 30px 0 35px 0;
}

.news__link,
.catalog__load-button {
  padding: 24px 50px;
}

.shop__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  margin-bottom: 96px;
}
.shop__img {
  width: 100%;
  margin-bottom: 10px;
}
.shop__link {
  display: flex;
  flex-direction: column;
}

.category-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  background-color: #151c22;
}
.footer__container {
  max-width: 476px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 50px 0;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 27px 0;
}
.footer__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.social {
  width: 168px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 5px;
}

.modal__form {
  background-color: #ffffff;
  width: 500px;
  height: 300px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  padding: 20px;
  border-radius: 30px;
}
.modal__fon {
  width: 100%;
  height: 100%;
  background-color: #4b4b4b;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 19;
}
.modal__login, .modal__password {
  width: 270px;
  height: 35px;
  border-radius: 25px;
  border-color: #184172;
  margin-bottom: 5px;
  outline: none;
}
.modal__auth {
  height: 40px;
  width: 145px;
  background-color: #184172;
  color: white;
  border-radius: 25px;
  border: 2px white;
  margin-top: 20px;
}
.modal__error-pas, .modal__error-log {
  background-color: #fff;
  color: red;
  font-size: 12px;
  width: 255px;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.hidden {
  visibility: hidden;
}

.invalid {
  border: 2px solid red;
}

#ecs {
  align-self: flex-end;
  margin: 0 0 30px 0;
  background-color: #184172;
  border-radius: 25px;
  color: white;
}

#modal__text-1, #modal__text-2 {
  padding-left: 20px;
}

.catalog {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
}
.catalog__filter {
  height: 130px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}
.catalog__filter-by {
  height: 50px;
  width: 245px;
  border: 2px solid black;
  font-size: large;
  font-weight: 500;
  text-align: start;
  padding: 14px 0 0 16px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 21%);
  grid-gap: 5vw;
}
.catalog__grid__item {
  display: flex;
  flex-direction: column;
}
.catalog__grid__item, .catalog__grid__item > img {
  width: 100%;
}
.catalog__grid__item-name, .catalog__grid__item > img-name {
  font-size: 18px;
  margin-top: 22px;
}
.catalog__grid__item-price, .catalog__grid__item > img-price {
  margin-top: 10px;
  font-weight: bold;
}
.catalog__load {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.catalog__load-1 {
  margin-top: 70px;
}
.catalog__link {
  text-decoration: none;
  color: black;
}

#catalog {
  margin: 0 auto;
}

#header__catalog {
  padding-bottom: 5px;
}

.intro__entry {
  max-width: 315px;
  margin-left: -50px;
  padding-left: 7px;
}
.intro__entry__part {
  margin-top: 28px;
}
.intro__entry__part-1, .intro__entry__part-2, .intro__entry__part-3 {
  text-decoration: none;
  color: #727981;
  font-size: 17.5px;
}
.intro__entry__catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro__categories__logo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  margin-left: 55px;
}
.intro__categories__logo-1 {
  align-self: flex-end;
  margin-right: -200px;
  z-index: -1;
}
.intro__categories__logo-3 {
  align-self: flex-start;
  margin-left: -200px;
  z-index: -1;
}
.intro__catalog {
  background-color: #f1f2f4;
}
.intro__catalog-h3 {
  font-weight: bold;
  font-size: 30px;
}

#catalog {
  padding: 0;
}

.contact {
  padding-bottom: 120px;
}
.contact__block {
  background-color: #f1f2f4;
  padding-bottom: 85px;
}
.contact__section {
  padding-top: 57px;
}
.contact__input {
  margin: 28px 22px 0 20px;
}

.contact__link,
.user__login-link {
  padding: 24px 70px;
}

fieldset {
  width: 568px;
  min-height: 776px;
  border: 3px solid black;
}

#fieldset {
  padding: 57px 45px 0 45px;
  margin: 0 auto;
}

#message {
  margin-left: 20px;
}

#send {
  justify-self: center;
}

legend {
  margin-left: 1%;
}

.user {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 90px;
  padding: 62px 0 118px 0;
}
.user__grid-1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
}
.user__grid-2 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 100%;
  padding-right: 20px;
}
.user__grid-2-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #f1f2f4;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10% 14% 10% 12%;
}
.user__grid-3 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  padding: 0 0 0 5%;
}
.user__page__history {
  background-color: #f1f2f4;
  width: 100%;
  min-height: 600px;
  padding-top: 20px;
}
.user__page__data {
  color: #737a82;
  font-weight: 400;
  font-size: 18px;
}
.user__page__name {
  font-weight: 600;
  font-size: 18px;
}
.user__page__count {
  padding-left: 23px;
  font-size: 18px;
}
.user__page__price {
  font-weight: bold;
  font-size: 16.5px;
  padding-left: 5px;
}
.user__page__photo-1 {
  width: 100%;
}
.user__p {
  font-size: 18px;
  font-weight: 500;
  margin-left: 36px;
}
.user__gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0 58px 0;
}
.user-search, .user-cart, .user-login {
  margin-left: 20px;
}
.user__login-link {
  align-self: flex-end;
  padding: 24px 80px;
}

input,
select {
  height: 50px;
  width: 78%;
}

input,
select,
#profile__self,
#contact__input-1,
#contact__input-2,
#contact__input-3 {
  border: 3px solid #757070;
  border-radius: 6px;
  padding-left: 15px;
}

#user__male, #user__female {
  margin: 0 10px 0 47px;
  width: 4%;
}

table {
  text-align: left;
  margin-top: -22px;
  border-spacing: 33px 31px;
}

.yourself {
  display: flex;
  flex-direction: column;
  margin: 69px 0 45px 0;
}

form {
  width: 100%;
  margin: 0 auto;
}

.form,
.user__city,
.user__country {
  margin-top: 19px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form:first-child {
  margin: 0;
}

#your__profile,
#your__profile-2 {
  font-size: 33px;
  margin: 0 0 53px 0;
}

#your__profile-2 {
  margin: 0;
}

#profile__self {
  max-width: 500px;
  min-height: 200px;
  margin-top: 11px;
  background-color: #f1f2f4;
}

@media screen and (max-width: 1200px) {
  .header__container {
    padding: 0 30px;
  }

  .intro__img {
    width: 80%;
  }
  .intro__image-1, .intro__image-2 {
    width: 50%;
  }
  .intro__image-2 {
    right: 0;
  }

  .content-wrapper-1,
.shop__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .shop__img {
    width: 50%;
    margin: 0 auto;
  }
  .shop__link {
    margin-bottom: 30px;
  }

  .category-title {
    margin: 0 auto;
    padding-top: 5px;
  }

  .bestsellers__header,
.section-header {
    padding: 0 30px;
  }

  .news__bg {
    display: none;
  }
  .news__link {
    width: 30%;
    align-self: flex-end;
  }

  .catalog {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
@media screen and (max-width: 980px) {
  .user {
    padding-bottom: 0;
    grid-gap: 0;
  }
  .user__grid-3 {
    padding: 0;
  }
  .user__grid-2 {
    padding: 0;
  }
  .user__grid-2-profile {
    align-items: center;
  }
  .user__page__history {
    width: 100%;
    border-top: 1px solid #757070;
  }

  form {
    width: 90%;
  }

  p {
    text-align: center;
  }

  table {
    margin: 0 auto;
  }

  .form,
.user__city,
.user__country {
    flex-direction: row;
    align-items: center;
  }

  input,
select {
    width: 80%;
  }

  .intro__catalog-h3 {
    font-size: 25px;
  }
  .intro__entry {
    margin: 0;
  }
  .intro__categories__logo {
    margin-left: 20px;
  }

  .intro__categories__logo > img {
    width: 80%;
  }

  .catalog__grid {
    margin: auto;
    grid-template-columns: repeat(3, 30%);
  }
}
@media screen and (max-width: 768px) {
  .intro-wrapper {
    flex-direction: column;
  }

  .intro__description {
    margin: 0 auto;
    padding-bottom: 90px;
  }

  .header__container {
    display: grid;
    justify-content: center;
  }

  .intro__img {
    padding-left: 60px;
  }

  .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    padding: 15px 0 10px 0;
  }

  .nav,
.user-features {
    grid-row-start: 2;
  }

  .user-features {
    margin: 0;
  }

  .shop__wrapper {
    grid-template-columns: repeat(2, 50%);
  }

  .bestsellers__img {
    width: 70%;
  }

  .intro__catalog-h3 {
    font-size: 20px;
  }
  .intro__entry__catalog {
    padding-left: 20px;
  }

  .catalog__filter-by {
    width: 180px;
  }

  fieldset {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .modal__form {
    width: 90%;
  }
  .modal__login, .modal__password {
    width: 95%;
  }

  .intro__link {
    padding: 15px 15px;
  }

  .intro__categories__logo {
    display: none;
  }

  .catalog__grid {
    margin: auto;
    grid-template-columns: repeat(2, 47%);
  }
}
@media screen and (max-width: 500px) {
  .intro__span {
    font-size: 100px;
  }
  .intro__image {
    display: none;
  }

  .bestsellers__card {
    width: 80%;
  }

  .nav__item {
    margin-right: 10px;
  }

  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  fieldset {
    padding: 57px 45px 0 10px;
  }

  #fieldset {
    padding: 0;
  }

  #profile__self {
    max-width: 90%;
  }

  .contact__input {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__link {
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .user-login {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
