*
  box-sizing: border-box

body
  font-family: "Work Sans", sans-serif
  color: $color

.container
  width: 1170px
  margin: 0 auto

.content-wrapper
  display: flex
  justify-content: space-between
  padding-top: 65px

.nav__item
  list-style: none

.link
  font-weight: 500
  font-size: 16px
  line-height: 19px
  color: inherit
  text-decoration: none
  font-weight: 500
  &:hover
    color: red

.section
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 95px

  &-title
    font-weight: bold
    font-size: 32px
    line-height: 38px
    margin: 0

  &-link
    font-weight: 500
    font-size: 18px
    line-height: 21px
    border-bottom: 2px solid $color
    padding: 6px 6px 4px
